table{
    border-radius: 20px;
    border-collapse: collapse;
    margin: auto;
}
td{
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 40px;
}
tr:nth-child(odd) td:nth-child(even), 
tr:nth-child(even) td:nth-child(odd)
{
    background-color: palevioletred;
}
tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even)
{
    background-color: white;
}

table{
    box-shadow: 5px 5px 30px yellowgreen,
                -5px -5px 30px violet;


}
body{
    background: url(../../../Downloads/chess.img);
    

}
h1{
    border: 1px solid black;
    width: 200px;
    border-radius: 10px;
}