/* body{
    background: url(../image/red-blue-facebook-background-baqebbr8yt58uaa3.webp);
    background-size: cover;
    background-position: center;
} */
body{
    background-color: white;
}
.form{
    font-size: 24px;
    /* font-family: serif; */
    width: 550px;
    height: 550px;
    margin: 200px 1000px;
    color: black;
    background-color: rgba(249, 242, 242, 0.5);
    padding: 20px;
    border-radius: 20px;
}
h2{
    text-align: center;
    color: blue;
}
/* .thaniga label{
    display: block;
} */
.thaniga input{
     box-sizing: border-box;
     width: 100%;
     padding: 0px 15px;
     font-size: 28px;
     border-radius: 5px;
     margin-top: 10px;
     height: 50px;

}
.but{
    text-align: center;
    margin-top: 20px;
}
.but button{
    width: 100%;
    font-size: 32px;
    margin: auto;
    text-align: center;
    background-color: blue;
    color: white;
    border: none;
}
.line,.love,.for{
    margin: auto;
    text-align: center;
}
.love button{
    font-size: 28px;
    width: 75%;
    background-color: rgb(43, 200, 43);
    height: 75px;
    border: none;
}
.thaniga input{
    margin-bottom: 30px;
}
