.parar14{
    background-color: wheat;
    flex: 2;
    order: 1;
}
.parar15{
    background-color: red;
    flex: 1;
    order: 2;
}
.parar16{
    background-color: green;
    flex: 2;
    order: 3;
}
.container{
    display: flex;
    background-color: chocolate;
    margin-top: 200px;

}
p{
    padding: 20px;
    margin: 20px;
}
.container2{
    background-color: red;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.box{
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 1px solid black;
            
}
.box3{
    background-color: brown;
    flex-grow: 1;
}