body{
    background: url(../image/pexels-zhang-kaiyv-6963405.jpg);
    background-size: cover;
    background-position: center;
}
.loginform{
    font-size: 24px;
    color: violet;
    background-color: rgba(74, 36, 36, .5);
    width: 500px;
    margin: 150px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px red,
                -10px -10px 30px red;
    
}
h2{
    color: chocolate;
    text-align: center;
    text-transform: uppercase;
}
.input label{
    display: block;
    /* margin-bottom: 10px; */
}
.input input{
    width: 100%;
    font-size: 28px;
    padding:0px 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px;
}
.btn{
    text-align: center;
    margin-top: 20px;
}
.btn button{
    text-align: center;
    margin: auto;
    width: 150px;
    font-size: 32px;
    padding: 10px;
    border-radius: 15px;
    background-color: aqua;
}
.radio input{
    transform: scale(2);
    margin-right: 20px;
}
.radio label{
    margin-right: 50px;
}