/* .container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    gap: 10px;
    text-align: center;
}
.para{
    background-color: chocolate;
} */
.layout div{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    

}

.layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10vh 80wvh 10vh;
    background-color: brown;
    grid-template-areas: "h h h"
                         "sidebar1 m sidebar2"
                         "f f f";
}
.head{
    grid-area: h;
}
.main{
    grid-area: m;
}
.sidebar1{
    grid-area: sidebar1;
}
.sidebar2{
    grid-area: sidebar2;
}
.footer{
    grid-area: f;
}