.container div{
    display: flex;
    border: 1px solid rgb(16, 15, 15);
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 70vh 10vh 10vh;
   
    color: white;
}
.box1{
    background-color: green;
grid-column: span 6;
}
.box2{
    background-color: darkgrey;
    grid-column: span 1;
}
.box3{
    background-color: rgb(217, 80, 82);
    grid-column: span 4;
}
.box4{
    background-color: pink;
    grid-column: span 1;
}
.box5{
    background-color: rgba(102, 15, 243, 0.337);
    grid-column: span 2;
    
}
.box6{
    background-color: rgb(116, 116, 215);
    grid-column: span 2;
}
.box7{
    background-color: rgb(116, 116, 215);
    grid-column: span 2;
}
.box8{
    background-color: darkblue;
    grid-column: span 6;
}