.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 400px;
    border: 2px solid rgb(228, 218, 216);
    border-radius: 5px;
    border: none; 
    
}
.content{
      grid-column: span 2;
      padding: 20px;
    }
.list li{
    display: inline;
    padding-right: 20px;
}
.list{
    border-bottom: 5px solid red;
}
.content p{
    color: red;
}
.list{
    color: white;
    background-color: black;
    grid-column: span 2;
}
li{
    padding-right: 60px;
}
.side{
    margin: 20pxx;
    padding-left: 60px;
    grid-auto-flow: column;

}
.side1 input{
        display: block;
        margin: 20px 0px;
        padding: 10px;
        background-color: white;
        width: 200px;
        border: none;
        height: 25px;
        
}
.side1 form{
    display: block;
    padding: 4px;
    padding-left: 25px;
    width: 250px;
    background-color: rgb(231, 228, 228);
    box-sizing: border-box;
    margin-top: 35px; 
    height: 70px;
    border-radius: 10px; 
}
.side hr{
    border-color: red;
    border-width: 3px;
    
}
/* .side_flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} */
@media (max-width: 600px) {
    .child{
        display: flex;
        flex-wrap: wrap;
    }
    
}