*{
    font-family: serif;
}


h6{

    color: red;
    background-color: blanchedalmond;
    font-size: 50px;
    text-align: right;

}
#Goat{
    color: purple;
    text-align: center;
}
.player1{
    background-color: burlywood;
}
.player2{
    background-color: yellowgreen;
}
p{
    text-indent: 100px;
    text-transform: uppercase;
}
p::first-letter{
    font-size: 65px;
}