body{
      background-image: url(../image/rDJegQJaCyGaYysj2g5XWY-650-80.jpg.webp);   
      background-size: cover;
}
.netflixlogin{
    font-size: 24px;
    margin: auto;
    color: rgb(248, 247, 244);
    background-color: rgb(24, 20, 20, 0.5);
    height: 700px;
    width: 400px;
    text-align: center;
    margin-top: 150px;
    border-radius: 20px;
    padding: 20px;
    text-align: right 20px;
}
.thaniga{
    font-size: 32px;
}
.thaniga input{
    font-size: 24px;
    /* border-radius: 20px; */
    width: 75%;
    height: 50px;
    margin-top: 20px;
    box-sizing: border-box;
    border: transparent;
    background: transparent;
    color: inherit;
}
.butt button{
    width: 75%;
    margin-top: 20px;
    border-radius: 20px;
    height: 40px;
    background-color: red;
    font-size: 24px;
    color: white;
}
.buttt button{
    width: 75%;
    margin-top: 20px;
    border-radius: 20px;
    height: 40px;
    background-color: rgba(136, 126, 126, 0.5);
    color: white;
    font-size: 24px;
}


