table,td,tr,th{
    border: 5px solid black;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    height: 20px;
    width: 1000px;
    color: chocolate;
    font-size: 40px;
}
th{
    padding: 25px;
}
table{
       box-shadow: 10px 10px 40px purple, -10px -10px 40px yellow;
}
body{
     background-image: url(../image/pexels-markus-spiske-1679618.jpg);
     background-size:cover ;
}