table,tr,td,th
{
    border: 5px solid brown;
    text-align: center;


   /* border-width: 5px;
    border-color: brown;
    border-style: solid;*/
}

table{
    margin: auto;
    width: 300px;
    padding: auto;
}


h1{
    border: 1px solid black;
    border-width: 5px;
    width: 500px;
    margin: 50px auto;
    padding: 70px auto;
    box-sizing: content-box;
    text-align: center;
}
p{
    border: 1px solid brown;
    width: 500px;
    margin: auto;
    padding: 50px;
    height: 100px;
    overflow: scroll;
    box-shadow: inset - 10px;
}

body{
    border: 1px solid grey;
    height: 250vh;
}